.container{
    display: flex;
    justify-content: space-between;
}

.titleOne {
    font-size: 30px;
  }
  
  .titleTwo {
    font-size: 50px;
    color: #FF6A1A;
  }
  
  .titleThree {
    font-size: 30px;
  }