.logo{
    padding-left: 10rem;
    padding-right: 10rem;
}

.white_text{
    color: #F5F5F5;
    font-size: 26px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

.orange_text{
    color: #FF6A1A;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}
